<?xml version="1.0" encoding="utf-8"?>
<Configuration>
  <!--
	工作流公共配置文件 配置文件说明见README.TXT
	By Wudexiang
	2007-11-15
	-->
  <!--
	调试开关
	如果打开调试开关 则审批邮件发送给指定人员 且流程自动转向指定的调试账号
	-->
  <Sec>
    <EmpServiceUrl>http://sec.corp.cloudary.com.cn/WF/Emp.asmx</EmpServiceUrl>
		<OrgServiceUrl>http://sec.corp.cloudary.com.cn/WF/Org.asmx</OrgServiceUrl>
		<LoginUrl>http://10.97.190.110:8001/Login.aspx?appcode=1003&amp;returnurl={0}</LoginUrl>
		<VerifyUrl>http://10.97.190.110:8001/Verify.aspx?appcode=1003&amp;ticket={0}</VerifyUrl>
		<LogoutUrl>http://10.97.190.110:8001/Logout.aspx?appcode=1003&amp;returnurl={0}</LogoutUrl>	
  </Sec>
  <!--连接-->
  <Connections>
    <StandardDB>server=SDL-OA-DB1;uid=wfsa;password=DvYj@83SpIr!;database=SNDA</StandardDB>
  </Connections>
  
</Configuration>

